.panelPrzyciskowWrapper {
  width: 230px;
  flex-wrap: wrap;
}
.przyciski {
  width: 70px;
  height: 70px;
  background-color: #aeadad;
  margin: 2px;
  border-radius: 5px ;
  box-shadow: gray 2px 2px 2px;
  font-size: 1.5rem;
  transition: 0.3s;
}
.przyciski:hover {
  background-color:  #d0d0d0;
  cursor: pointer;

}
.przyciski:active {
  background-color: #dfdfdf;
  box-shadow: gray 1px 1px 1px;
}
.dalej {
  width: 70px;
  height: 70px;
  background-color: #93C572;
  margin: 2px;
  border-radius: 5px ;
  box-shadow: gray 2px 2px 2px;
  font-size: 1.5rem;
  transition: 0.3s;
}
.dalej:hover {
  background-color:  #b0d8a2;
  cursor: pointer;

}
.dalej:active {
  background-color: #c0e2b2;
  box-shadow: gray 1px 1px 1px;
}
.czysc {
  width: 70px;
  height: 70px;
  background-color: #FF7F50;
  margin: 2px;
  border-radius: 5px ;
  box-shadow: gray 2px 2px 2px;
  font-size: 1.5rem;
  transition: 0.3s;
}
.czysc:hover {
  background-color:  #ff9f7f;
  cursor: pointer;

}
.czysc:active {
  background-color: #ffa78f;
  box-shadow: gray 1px 1px 1px;
}
button {
  border: none;

}
.numerKadrowy {
  background-color: #ffffff;
  margin: 0 5px;
  border-radius: 3px;
  padding: 3px;
  animation: pojawianieSie 0.7s;
}
@keyframes pojawianieSie {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }

}
.zalogujBaner {
 font-size: 1.7rem;
}
table {
 background-color: whitesmoke;
  box-shadow: #aeadad 6px 5px 5px;
}
table tr td {
  border: black 1px solid;
  padding: 2px;
  text-align: center;
 }

table tr th {
  border: black 1px solid;
  padding: 2px;
  text-align: center;
}
.tenMiesiac {
  text-align: center;
  color: #9370DB;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: #aeadad 1px 1px 2px;
}
.kolorDania {
 background-color: #e1fae8;
}
.miesiaceWrapper {
  animation: pojawianieSie 0.8s;
}
.suwakiWrapper {
  top: 0;
  right: 0;


}
.przewijaki {
  width: 80px;
  height: fit-content;
  font-size: 6rem;
  margin: 5px;
  background-color: darkgoldenrod;
  border-radius: 10px;
  box-shadow: gray 2px 2px 2px;
  color: #392822;
  transition: 0.3s;
  opacity: 0.9;
}
.przezroczyste {
  opacity: 0.5;
}
