<div class="posilkiWrapper container d-flex flex-column align-items-center">
  @if (statusLogowania === 0) {
<div class="zalogujBaner m-2">ZALOGUJ UŻYTKOWNIKA</div>

  <div class=" m-2">Podaj</div>
  <div ><b class="numerKadrowy"> NUMER KADROWY</b> </div>
  <div class="panelLogowaniaWrapper">
    <div class="panelTitle"></div>
    <div class="panelInputs d-flex justify-content-center">

      <input type="password" class="form-control my-2 w-50" [(ngModel)]="daneLogowania!.id">
    </div>
    <div class="panelPrzyciskowWrapper d-flex justify-content-center">
      <div class="przyciski d-flex justify-content-center align-items-center" (click)="dodawanieLiczbyDoDanychLogowania(7)">7</div>
      <div class="przyciski d-flex justify-content-center align-items-center" (click)="dodawanieLiczbyDoDanychLogowania(8)">8</div>
      <div class="przyciski d-flex justify-content-center align-items-center" (click)="dodawanieLiczbyDoDanychLogowania(9)">9</div>
      <div class="przyciski d-flex justify-content-center align-items-center" (click)="dodawanieLiczbyDoDanychLogowania(4)">4</div>
      <div class="przyciski d-flex justify-content-center align-items-center" (click)="dodawanieLiczbyDoDanychLogowania(5)">5</div>
      <div class="przyciski d-flex justify-content-center align-items-center" (click)="dodawanieLiczbyDoDanychLogowania(6)">6</div>
      <div class="przyciski d-flex justify-content-center align-items-center" (click)="dodawanieLiczbyDoDanychLogowania(1)">1</div>
      <div class="przyciski d-flex justify-content-center align-items-center" (click)="dodawanieLiczbyDoDanychLogowania(2)">2</div>
      <div class="przyciski d-flex justify-content-center align-items-center" (click)="dodawanieLiczbyDoDanychLogowania(3)">3</div>
      <div class="czysc d-flex justify-content-center align-items-center" (click)="wyczyscDaneLogowania()">Czyść</div>
      <div class="przyciski d-flex justify-content-center align-items-center">0</div>
      <button [disabled]="!daneLogowania!.id" class="dalej d-flex justify-content-center align-items-center" (click)="wprowadzID()">Dalej</button>
    </div>
  </div>
  } @else if (statusLogowania === 1) {
    <div class="zalogujBaner m-2">ZALOGUJ UŻYTKOWNIKA</div>
    <div class=" m-2">Podaj</div>
    <div ><b class="numerKadrowy"> NUMER KARTY Wejścia/Wyjścia</b> </div>
    <div class="panelLogowaniaWrapper">
      <div class="panelTitle"></div>
      <div class="panelInputs d-flex justify-content-center">

        <input type="password" class="form-control my-2 w-50" [(ngModel)]="daneLogowania!.nr">
      </div>
      <div class="panelPrzyciskowWrapper d-flex justify-content-center">
        <div class="przyciski d-flex justify-content-center align-items-center" (click)="dodawanieLiczbyDoDanychLogowania(7)">7</div>
        <div class="przyciski d-flex justify-content-center align-items-center" (click)="dodawanieLiczbyDoDanychLogowania(8)">8</div>
        <div class="przyciski d-flex justify-content-center align-items-center" (click)="dodawanieLiczbyDoDanychLogowania(9)">9</div>
        <div class="przyciski d-flex justify-content-center align-items-center" (click)="dodawanieLiczbyDoDanychLogowania(4)">4</div>
        <div class="przyciski d-flex justify-content-center align-items-center" (click)="dodawanieLiczbyDoDanychLogowania(5)">5</div>
        <div class="przyciski d-flex justify-content-center align-items-center" (click)="dodawanieLiczbyDoDanychLogowania(6)">6</div>
        <div class="przyciski d-flex justify-content-center align-items-center" (click)="dodawanieLiczbyDoDanychLogowania(1)">1</div>
        <div class="przyciski d-flex justify-content-center align-items-center" (click)="dodawanieLiczbyDoDanychLogowania(2)">2</div>
        <div class="przyciski d-flex justify-content-center align-items-center" (click)="dodawanieLiczbyDoDanychLogowania(3)">3</div>
        <div class="czysc d-flex justify-content-center align-items-center" (click)="wyczyscDaneLogowania()">Czyść</div>
        <div class="przyciski d-flex justify-content-center align-items-center">0</div>
        <button [disabled]="!daneLogowania!.nr" class="dalej d-flex justify-content-center align-items-center" (click)="wprowadzID()">Dalej</button>
      </div>
    </div>
  } @else if (statusLogowania === 2) {
    <div class="d-flex gap-3">
      <div class="zalogujBaner">{{pracownik!.nazwisko}}</div>
      <button style="width: fit-content; height: fit-content" class="czysc" (click)="wyloguj()">Wyloguj</button>
    </div>
    <div class="miesiaceWrapper d-flex gap-5 flex-column flex-sm-row">
      <div class="obecnyMiesiac">
        <div class="tenMiesiac">{{getMonthName(daneDaty!.ten_miesiac)}}</div>
        <table>
          <thead>
          <tr>
            <th >lp</th>
            <th>Data</th>
            <th>Dzień</th>
            <th >Danie</th>
          </thead>
          <tbody>
            @for (dzien of dane!.menuObecnyMiesiac; track $index) {
            <tr>
              <td>{{$index + 1}}.</td>
              <td>{{reverseDateFormat(dzien.data)}}</td>
              <td>{{getDayOfWeek(dzien.data)}}</td>
              <td class="kolorDania" [ngClass]="{'przezroczyste': isDateExpired(dzien.data)}">{{dzien.opis}}</td>
            </tr>
          <tr>
            <td colspan="4">
              <div class="d-flex justify-content-between p-1">
                <div class="d-flex gap-1 ">
                  <button [disabled]="isDateExpired(dzien.data ) || dzien.zapisPracownika?.zmiana === 1" [ngClass]="{zielony: dzien.zapisPracownika?.zmiana === 1, zamknietyButton: dzien.zapisPracownika?.rodzaj_wycofania === 'I'}" class="btn-info btn" (click)="wybierzZmianeAbyZatwierdzicPosilek(dzien.zapisPracownika, dzien.id, 1, $index, false)">Zmiana 1</button>
                  <button [disabled]="isDateExpired(dzien.data) || dzien.zapisPracownika?.zmiana === 2" [ngClass]="{zielony: dzien.zapisPracownika?.zmiana === 2, zamknietyButton: dzien.zapisPracownika?.rodzaj_wycofania === 'I'}" class="btn-info btn" (click)="wybierzZmianeAbyZatwierdzicPosilek(dzien.zapisPracownika, dzien.id, 2, $index, false)">Zmiana 2</button>
                  <button [disabled]="isDateExpired(dzien.data) || dzien.zapisPracownika?.zmiana === 3" [ngClass]="{zielony: dzien.zapisPracownika?.zmiana === 3, zamknietyButton: dzien.zapisPracownika?.rodzaj_wycofania === 'I'}" class="btn-info btn" (click)="wybierzZmianeAbyZatwierdzicPosilek(dzien.zapisPracownika, dzien.id, 3, $index, false)">Zmiana 3</button>
                </div>

                <button [disabled]="isDateExpired(dzien.data) || dzien.zapisPracownika?.rodzaj_wycofania ==='I'" class="btn-danger btn mx-2" (click)="nieKorzystamZPosilku(dzien.zapisPracownika, dzien.id, $index, false)">Nie korzystam</button>
              </div>
            </td>
          </tr>
          }
          </tbody>
        </table>
      </div>
      <div class="nastepnyMiesiac">
        <div class="tenMiesiac">{{getMonthName(daneDaty!.nastepny_miesiac) }}</div>
        <table>
          <thead>
          <tr>
            <th >lp</th>
            <th>Data</th>
            <th>Dzień</th>
            <th class="">Opis</th>
          </thead>
          <tbody>
            @for (dzien of dane!.menuNastepnyMiesiac; track $index) {
              <tr>
                <td>{{$index + 1}}.</td>
                <td>{{reverseDateFormat(dzien.data)}}</td>
                <td>{{getDayOfWeek(dzien.data)}}</td>
                <td class="kolorDania">{{dzien.opis}}</td>
              </tr>
              <tr>
                <td colspan="4">
                  <div class="d-flex justify-content-between p-1">
                    <div class="d-flex gap-1 ">
                      <button [disabled]="isDateExpired(dzien.data ) || dzien.zapisPracownika?.zmiana === 1" [ngClass]="{zielony: dzien.zapisPracownika?.zmiana === 1, zamknietyButton: dzien.zapisPracownika?.rodzaj_wycofania === 'I'}" class="btn-info btn" (click)="wybierzZmianeAbyZatwierdzicPosilek(dzien.zapisPracownika, dzien.id, 1, $index, true)">Zmiana 1</button>
                      <button [disabled]="isDateExpired(dzien.data) || dzien.zapisPracownika?.zmiana === 2" [ngClass]="{zielony: dzien.zapisPracownika?.zmiana === 2, zamknietyButton: dzien.zapisPracownika?.rodzaj_wycofania === 'I'}" class="btn-info btn" (click)="wybierzZmianeAbyZatwierdzicPosilek(dzien.zapisPracownika, dzien.id, 2, $index, true)">Zmiana 2</button>
                      <button [disabled]="isDateExpired(dzien.data) || dzien.zapisPracownika?.zmiana === 3" [ngClass]="{zielony: dzien.zapisPracownika?.zmiana === 3, zamknietyButton: dzien.zapisPracownika?.rodzaj_wycofania === 'I'}" class="btn-info btn" (click)="wybierzZmianeAbyZatwierdzicPosilek(dzien.zapisPracownika, dzien.id, 3, $index, true)">Zmiana 3</button>
                    </div>

                    <button [disabled]="isDateExpired(dzien.data)" class="btn-danger btn mx-2" (click)="nieKorzystamZPosilku(dzien.zapisPracownika, dzien.id, $index, true)">Nie korzystam</button>
                  </div>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>

    </div>

  }
  @if (statusLogowania === 2) {
  <div class="suwakiWrapper position-fixed">
    <button class="przewijaki" (click)="scroll(-300)" >↑</button>
    <button class="przewijaki" (click)="scroll(300)">↓</button>
  </div>
  }
</div>
